<header class="header">
  <nav class="navbar navbar-dark navbar-expand-xl bg-dark py-4">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://redhat-solution-patterns.github.io/solution-patterns" target="_blank"><img
          src="{{uiRootPath}}/img/logo.png" height="40px" alt="Cloud Native Architecture Solution Patterns"></a>
      <a class="navbar-item" style="font-size: 24px; color: white"
        href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item" href="https://redhat-solution-patterns.github.io/patterns/" style="color: white" target="_blank">Explore Patterns&nbsp; </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="https://www.redhat.com/architect/portfolio/" style="color: white" target="_blank">Architecture Center&nbsp; </a>
        </div>
        <a class="navbar-item" target="_blank" href="https://developers.redhat.com">Red Hat Developer</a>
        <a class="navbar-item" target="_blank"
          href="https://github.com/redhat-solution-patterns/redhat-solution-patterns.github.io/issues">Feedback</a>
        
      </div>
    </div>
  </nav>
</header>